mera-div{
    height: 50%;
    width: 50%;
    background-color: bisque;
    opacity: 50%;
}

.mera2{
    /* background: url(./pic/josh-berquist-_4sWbzH5fp8-unsplash.jpg) no-repeat center center/cover; */
    background-color:aliceblue;
    
}


.mera3{
    background: transparent;
    
}